:root {
    --text-color: black; /* Default text color */
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        color: white; /* Text color for dark mode */
    }
}

*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    border-radius: 15px;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(45deg, #0a0a0a, #3a4452 );
    /* background: skyblue; */
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto)repeat(5, 100px);
    gap: 1px;
}

.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255,255,255,.75);
    transition: back-ground-color 0.3s ease;
    /* border-radius: 50%; */
}

.calculator-grid > button:hover {
    background-color: rgba(255,255,255,.9);
}

.span-two{
    grid-column: span 2;
    color: #fb7c14; 
}

.output{
    grid-column: 1 / -1;
    background-color: rgba(0,0,0,.75);
    background: linear-gradient(45deg, #0a0a0a, #3a4452 );
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 2.5rem;
}

.output .previous-operand{
    color: rgba(255,255,255,.75);
    font-size: 1.5rem;
}

.operation{
    color: #fb7c14;
}



@media (max-width: 600px) {
    .calculator-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: minmax(100px, auto) repeat(5, 1fr);
    }

    .calculator-grid > button {
        font-size: 1.5rem;
    }

    .output {
        font-size: 2rem;
    }

    .output .previous-operand {
        font-size: 1.2rem;
    }
}

@media (max-width: 400px) {
    .calculator-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: minmax(80px, auto) repeat(5, 1fr);
    }

    .calculator-grid > button {
        font-size: 1.2rem;
        padding: 10px;
    }

    .output {
        font-size: 1.5rem;
    }

    .output .previous-operand {
        font-size: 1rem;
    }
}

