.first-section{
    display: flex;
    flex-direction: column;
    background: #1F2937;
}

.navbar{
    margin-left: 90px;
    margin-right: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #1F2937;
    color: white;
}

.logo h3{
    margin: 0;
}

.links{
    display: flex;
}

.links a{
    margin: 0 15px;
    text-decoration: none;
    color: grey;
}

.preview{
    display: flex;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: center;
}

h1{
    color: white;
    font-size: 48px;
}

p{
    color: #E5E7EB;
    font-size: 18px;
}


.image image{
    max-width: 100%;
    height: auto;
    text-align: center;
    width: 600px;
}

button{
    padding: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: #3882F6;
    border: none;
    border-radius: 6px;
}


.second-section{
    display: flex;
    background: cyan;
    border: 4px;
    border-color: green;
}








