.first-section{
    display: flex;
    flex-direction: column;
    background: #1F2937;
}

.navbar{
    margin-left: 90px;
    margin-right: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #1F2937;
    color: white;
}

.logo h3{
    margin: 0;
}

.links{
    display: flex;
}

.links a{
    margin: 0 15px;
    text-decoration: none;
    color: grey;
}











