/*
.b1{
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 36px;
    font-weight: bold;
}

.b2{
    background-color: yellow;
    color: black;
    font-size: 36px;
    font-weight: bold;
}*/

.b1,
.b2{
    font-size: 32px; /*by grouping the b1&b2 class, we can make same change for both the classes*/
}

.b1{
    color: white;
    background-color: black;
    font-family: serif;
    font-weight: bold;
}

.b2{
    color: black;
    background-color: yellow;
    font-family: georgia;
    font-weight: bold;
}
